/* CSS RESET to erase all the default styles set by the browser */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* END OF CSS RESET */

/* GENERAL STYLING */
body {
    background-image: url(./images/street-dancing.jpg);
    background-size: contain;
}

/* black filter on the background image */
.black-filter {
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
}

/* END OF GENERAL STYLING */

/* NAVBAR STYLING */

nav {
    opacity: 75%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.logo a {
    text-transform: uppercase;
    color: #ff4f33;
    font-weight: bold;
}

.logo a:hover {
    color: #ff4f33;
}

.dropdown-menu.show {
    width: 0.2em;
    /* width not working : why ? */
}

/* END OF NAVBAR STYLING */

/* TITLES STYLING */

.titles {
    text-align: center;
    margin-bottom: 2em;
}
.main-title {
    color: bisque;
}

.subtitle {
    color: #ff4f33;
}

/* END OF TITLES STYLING */

/* SECTION STYLING */
section {
    border: 1px solid #ff4f33;
    border-radius: 5px;
    margin-bottom: 2em;
    opacity: 85%;
}

.presentation {
    border: 1px solid #403d58;
    background-color: #403d58;
    color: bisque;
}

.organization {
    border: 1px solid #ff4f33;
    background-color: #ff4e33;
}

.event-link {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

/* END OF PRESENTATION STYLING */
